<!DOCTYPE html>
<html lang="en">
<head>
<%- include('templates/_head'); %>
</head>
<body class="app sidebar-fixed sidebar-md-show max-h-100vh">
<%- include('templates/_header'); %>

<div class="app-body js-log">
  <%- include('templates/_sidebar-admin'); %>
  <main class="main d-flex flex-column">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">使用回数ログ</li>
      </ol>
    </nav>
    <div class="container-fluid d-flex flex-column js-logboard-container">
      <div class="row flex-fill position-relative">
        <%- include('templates/_loading'); %>
        <div class="card col-12">
          <div class="card-body d-flex flex-column flex-fill">
            <h1 class="ml-n2">使用回数ログ</h1>
            <div class="row js-logboard-invalid" style="display: none;">
              <div class="col-12">
                <div class="alert alert-danger my-3" role="alert">
                  <strong>ごめんなさい！</strong> &nbsp;
                  ただいま使用回数ログを取得できない状態となっています。。。
                </div>
              </div>
            </div>
            <div class="row js-logboard-valid flex-fill" style="display: none;">
              <div class="col-12 js-logboard-canvas-wrapper">
                <canvas class="js-logboard-canvas js-logboard-canvas-template d-none" height="150"><!-- グラフ描画領域 --></canvas>
              </div>
            </div><!-- row -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- row -->
    </div><!-- container-fluid -->
  </main>
</div><!-- app-body -->

<%- include('templates/_footer'); %>
</body>
</html>
